name: Deploy Frontend

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

env:
  IMAGE_NAME: ghcr.io/davidjjflaig/web-anwendung:latest
  
  DEPLOY_PATH: /buch/extras/compose/buch

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}

  deploy-on-premise:
    needs: build-and-push
    runs-on: self-hosted
    
    steps:
      - name: Deploy new version
        run: |
          # 1. In den Ordner wechseln
          cd ${{ env.DEPLOY_PATH }} || exit 1

          # 2. Einloggen (damit er das Image ziehen darf)
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

          # 3. Neues Image ziehen
          docker compose pull frontend

          # 4. Container neu starten
          docker compose up -d frontend

          # 5. Aufräumen (alte Images löschen, spart Platz)
          docker image prune -f